@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1.5;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  border: none;
}


header {
  max-width: 940px;
  margin: 0 auto;
  width: 95%;
  padding: 27px 0;
  background-repeat: no-repeat;
  background-image: url(../images/anchor.svg);
  background-position: center;
  margin-top: 2.5vw;
}
header nav {
  margin: 0 auto;
  width: 94.5%;
  display: flex;
  justify-content: space-evenly;
}
header a {
  width: 100%;
  position: relative;
}
header a ::after {
  content: "";
  position: absolute;
  top: 17%;
  right: 5px;
  width: 3px;
  height: 70%;
  background-color: #000;
}
@media screen and (max-width: 576px) {
  header a ::after {
    width: 1px;
    right: 4px;
  }
}
header a ::before {
  content: "";
  position: absolute;
  top: 17%;
  left: 5px;
  width: 3px;
  height: 70%;
  background-color: #000;
}
@media screen and (max-width: 576px) {
  header a ::before {
    width: 1px;
    left: 0px;
  }
}
header a:last-child ::after {
  display: none;
}
header a:last-child ::before {
  display: none;
}
header a:first-child ::after {
  display: none;
}
header a:first-child ::before {
  display: none;
}
header a p {
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2.25px;
  text-align: center;
  color: #1b1b1b;
  font-size: 45px;
}
@media screen and (max-width: 768px) {
  header a p {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  header a p {
    font-size: 24px;
  }
}
@media screen and (max-width: 425px) {
  header a p {
    font-size: 16px;
  }
}

.banner {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url(../images/game_slogan.svg);
  background-size: cover;
  background-position: center;
  max-width: 880px;
  width: 90%;
  padding-bottom: 62%;
  margin: 0 auto;
  margin-top: 0.5vw;
  z-index: 2;
}
@media screen and (max-width: 800px) {
  .banner {
    height: unset;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    width: 75%;
    padding-bottom: 50%;
  }
}

.gamebox {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url(../images/gamebox.png);
  background-position: top;
  background-size: cover;
  width: 95%;
  max-width: 933px;
  margin: 0 auto;
  padding: 30px 0 30px;
  margin-top: -1%;
}
.gamebox .text {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
}
.gamebox .text .pic {
  max-width: 333px;
  width: 25%;
}
.gamebox .text p {
  font-weight: bold;
  line-height: 1.76;
  text-align: left;
  color: #1b1b1b;
  font-size: 45px;
}
@media screen and (max-width: 979px) {
  .gamebox .text p {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .gamebox .text p {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  .gamebox .text p {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .gamebox .text p {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .gamebox .text p {
    font-size: 12px;
  }
}
.gamebox .text1 {
  border-bottom: dotted 5px #ff9012;
}
@media screen and (max-width: 979px) {
  .gamebox {
    padding: 30px 0 5.76vw;
  }
}
@media screen and (max-width: 966px) {
  .gamebox {
    padding: 20px 0 6vw;
    background-size: contain;
  }
  .gamebox .text1 {
    border-bottom: dotted 3px #ff9012;
  }
}
@media screen and (max-width: 768px) {
  .gamebox {
    padding: 20px 0 5.76vw;
  }
}
@media screen and (max-width: 576px) {
  .gamebox {
    padding: 10px 0 5.76vw;
  }
}
@media screen and (max-width: 414px) {
  .gamebox {
    padding: 5px 0 30px;
  }
}

.time {
  margin-top: 3vw;
}
@media screen and (max-width: 576px) {
  .time {
    margin-top: 1vw;
  }
}
.time .title {
  display: flex;
  justify-content: center;
}
.time .title .circle {
  background-color: #ffe000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70px;
  max-height: 70px;
  width: 7.18vw;
  height: 7.18vw;
}
.time .title .circle p {
  font-weight: bold;
  line-height: 2.2;
  text-align: center;
  color: #ec5f0e;
  font-size: 45px;
}
@media screen and (max-width: 979px) {
  .time .title .circle p {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .time .title .circle p {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .time .title .circle p {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .time .title .circle p {
    font-size: 16px;
  }
}
.time .box {
  position: relative;
  max-width: 835px;
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #ffe0b3;
  padding: 4px 4vw;
  margin-top: 10px;
}
@media screen and (min-width: 980px) {
  .time .box {
    padding: 5px 40px;
  }
}
@media screen and (max-width: 768px) {
  .time .box {
    border-radius: 10px;
    padding: 4px 4px;
  }
}
.time .box::after {
  content: "";
  position: absolute;
  width: 104%;
  height: 135.5%;
  top: -25.5%;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/timebox.svg);
}
@media screen and (max-width: 980px) {
  .time .box::after {
    width: 90vw;
    height: 17.25vw;
    top: -29.5%;
    left: 49%;
  }
}
@media screen and (max-width: 900px) {
  .time .box::after {
    top: -33.5%;
    left: 50%;
  }
}
@media screen and (max-width: 576px) {
  .time .box::after {
    top: -21.5%;
  }
}
.time .box .text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.time .box .text p {
  font-weight: 500;
  line-height: 1.5;
  color: #1b1b1b;
  font-size: 36px;
}
@media screen and (max-width: 979px) {
  .time .box .text p {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .time .box .text p {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .time .box .text p {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .time .box .text p {
    font-size: 12px;
  }
}
.time .box .text .line {
  width: 16%;
  border-bottom: dotted 5px #ff9012;
}
@media screen and (max-width: 768px) {
  .time .box .text .line {
    border-bottom: dotted 3px #ff9012;
    width: 15%;
  }
}
@media screen and (max-width: 576px) {
  .time .box .text .line {
    border-bottom: dotted 2px #ff9012;
    width: 12%;
  }
}
@media screen and (max-width: 425px) {
  .time .box .text .line {
    width: 10%;
  }
}
.time .box .text .prize {
  font-weight: bold;
  line-height: 1.24;
  color: #1b1b1b;
  display: flex;
  align-items: flex-end;
  font-size: 45px;
}
@media screen and (max-width: 979px) {
  .time .box .text .prize {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .time .box .text .prize {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .time .box .text .prize {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .time .box .text .prize {
    font-size: 14px;
  }
}
.time .box .text .prize span {
  font-weight: bold;
  line-height: 1.24;
  color: #1b1b1b;
  font-size: 36px;
}
@media screen and (max-width: 979px) {
  .time .box .text .prize span {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .time .box .text .prize span {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .time .box .text .prize span {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .time .box .text .prize span {
    font-size: 10px;
  }
}

.orange {
  width: 40%;
  max-width: 230px;
  margin: 0 auto;
  margin-top: 30px;
}

.gold {
  max-width: 753px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10vw;
}
@media screen and (max-width: 576px) {
  .gold {
    margin-top: 7vw;
  }
}

.content {
  margin-top: -15%;
  position: relative;
}
.content .tabs {
  z-index: 1;
  width: 85%;
  display: flex;
  position: absolute;
  top: 0vw;
  left: 50%;
  transform: translateX(-50%);
  max-width: 935px;
  justify-content: center;
}
.content .tab-button {
  display: block;
  width: 50%;
  padding: 3px 20px;
  font-weight: bold;
  color: #c6351d;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 45px;
}
@media screen and (max-width: 979px) {
  .content .tab-button {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .content .tab-button {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .content .tab-button {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .content .tab-button {
    font-size: 16px;
  }
}
.content .tab-content {
  padding: 10% 0 0;
  max-width: 935px;
  width: 95%;
  height: 75.3vw;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 981px) {
  .content .tab-content {
    height: 735px;
  }
}
.content .tab-content1 {
  background-image: url(../images/login.png);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content .tab-content1 p.hint {
  width: 90%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  line-height: 1.66;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  font-size: 45px;
}
@media screen and (max-width: 979px) {
  .content .tab-content1 p.hint {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .content .tab-content1 p.hint {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .content .tab-content1 p.hint {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .content .tab-content1 p.hint {
    font-size: 16px;
  }
}
.content .tab-content1 p.hint span {
  letter-spacing: 3px;
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .content .tab-content1 p.hint span {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  .content .tab-content1 p.hint span {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .content .tab-content1 p.hint span {
    font-size: 20px;
  }
}
.content .tab-content2 {
  position: relative;
  background-image: url(../images/scratch.png);
}
.content .hidden {
  visibility: hidden;
  position: absolute;
  top: -9999999vh;
}
.content .none {
  display: none;
}
.content .scratch_box {
  margin: 0 auto;
  max-width: 825px;
  max-height: 525px;
  width: 84vw;
  height: 55.5vw;
  position: relative;
}
.content .scratch_box .lottery {
  width: 100%;
  height: 100%;
}
.content .scratch_box .lottery canvas {
  z-index: 5;
}
.content .scratch_box .lottery img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.content .scratch_box .lottery img.answer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.content .scratch_box .lottery .answer {
  font-size: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-size: contain;
  font-weight: 600;
  color: #323333;
}
.content .scratch_box .lottery .txt {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333; /* 根據需求調整文字顏色 */
  font-size: 16px;
  line-height: 1.5;
}
.content .scratch_box .lottery .txt p {
  font-weight: bold;
  font-size: 45px;
}
@media screen and (max-width: 979px) {
  .content .scratch_box .lottery .txt p {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .content .scratch_box .lottery .txt p {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .content .scratch_box .lottery .txt p {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .content .scratch_box .lottery .txt p {
    font-size: 16px;
  }
}
.content .scratch_box .lottery .txt p.second {
  font-size: 40px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .content .scratch_box .lottery .txt p.second {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .content .scratch_box .lottery .txt p.second {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .content .scratch_box .lottery .txt p.second {
    font-size: 16px;
  }
}
.content .scratch_box .lottery .txt .min {
  font-size: 12px;
}
.content .scratch_box .click_pic {
  position: absolute;
  width: 100px;
  bottom: -50px;
  left: 50%;
  z-index: 6;
  transform: translateX(-50%);
  pointer-events: none;
  animation-name: click;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.content .scratch_box .disapear {
  display: none;
}
.content .draw {
  width: 90%;
  margin: 0 auto;
  position: relative;
  font-weight: bold;
  line-height: 1.66;
  letter-spacing: 2.43px;
  text-align: center;
  color: #fff;
  margin-top: -30px;
  font-size: 45px;
}
@media screen and (max-width: 979px) {
  .content .draw {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .content .draw {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .content .draw {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .content .draw {
    font-size: 16px;
  }
}
.content p.info {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #501300;
  display: none;
  z-index: 2;
}
@media screen and (max-width: 576px) {
  .content p.info {
    font-size: 12px;
  }
}
.content p.info1 {
  margin-top: 5px;
}
.content p.info2 {
  margin-top: 7%;
  margin-bottom: 8%;
}
@media screen and (max-width: 576px) {
  .content p.info2 {
    font-size: 12px;
  }
}
.content p.active {
  display: block;
}
.content .login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 21.6vw;
  height: 21.6vw;
  max-width: 215px;
  max-height: 215px;
}

@keyframes click {
  0% {
    left: 45%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 55%;
  }
}
.coin {
  max-width: 827px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: 3%;
}
@media screen and (max-width: 576px) {
  .coin {
    margin-top: 8%;
  }
}

section.description {
  padding-bottom: 80px;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 95%;
  margin-top: -15%;
}
section.description .subtitle {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 12px;
}
section.description .subtitle p {
  font-size: 45.5px;
  font-weight: bold;
  text-align: center;
  color: #1b1b1b;
}
section.description .title {
  max-width: 349px;
  margin: 0 auto;
  padding-bottom: 45px;
}
section.description .tabs-container {
  z-index: 1;
  background-color: #f9ede4;
  border: 4px solid #1b1b1b;
  border-radius: 30px;
  position: relative;
  padding-left: 2vw;
  padding-top: 45px;
  height: 440px;
}
section.description .tabs-container .text {
  max-width: 950px;
  margin: 0 auto;
  width: 95%;
  padding-bottom: 36px;
  height: 366px;
  overflow-y: auto;
  overflow-x: hidden;
}
section.description .tabs-container .text::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #dedede; /* or add it to the track */
}
section.description .tabs-container .text::-webkit-scrollbar-thumb {
  background: #2ca0e0;
}
section.description .tabs-container .text .line {
  display: flex;
  gap: 10px;
  max-width: 745px;
  padding-bottom: 10px;
  line-height: 1.54;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  section.description .tabs-container .text .line {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  section.description .tabs-container .text .line {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  section.description .tabs-container .text .line {
    font-size: 16px;
  }
}
section.description .tabs-container .text .line p {
  color: #1b1b1b;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.54;
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  section.description .tabs-container .text .line p {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  section.description .tabs-container .text .line p {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  section.description .tabs-container .text .line p {
    font-size: 16px;
  }
}
section.description .tabs-container .text .indent > p {
  padding-left: 4rem;
}
@media screen and (max-width: 576px) {
  section.description .tabs-container .text .indent > p {
    padding-left: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .content .scratch_box {
    margin: 0 auto;
    position: relative;
  }
  .content .scratch_box .lottery {
    width: 100%;
    height: 100%;
  }
  .content .scratch_box .lottery canvas {
    z-index: 5;
  }
  .content .scratch_box .lottery img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .content .scratch_box .lottery img.answer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 4px 4px 8px #d4d4d4;
  }
  .content .scratch_box .lottery .answer {
    font-size: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-size: contain;
    font-weight: 600;
    color: #323333;
  }
  .content .scratch_box .click_pic {
    position: absolute;
    width: 100px;
    bottom: -50px;
    left: 50%;
    z-index: 6;
    transform: translateX(-50%);
    pointer-events: none;
    animation-name: click;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .content .scratch_box .disapear {
    display: none;
  }
  .content p {
    font-size: 18px;
  }
}