@import '_reset.scss';
@import '_variable.scss';
@import 'mixin.scss';

//========================
// page
//========================
header {
  max-width: 940px;
  margin: 0 auto;
  width: 95%;
  // gap: 150px;
  padding: 27px 0;
  background-repeat: no-repeat;
  background-image: url(../images/anchor.svg);
  // background-size: cover;
  background-position: center;
  margin-top: 2.5vw;

  nav {
    margin: 0 auto;
    width: 94.5%;
    display: flex;
    justify-content: space-evenly;
  }
  a {
    width: 100%;
    position: relative;
    ::after {
      content: '';
      position: absolute;
      top: 17%;
      right: 5px;
      width: 3px; // 分隔線的寬度
      height: 70%; // 分隔線高度
      background-color: #000; // 分隔線顏色
      @media screen and (max-width: 576px) {
        width: 1px; // 分隔線的寬度
        right: 4px;
      }
    }
    ::before {
      content: '';
      position: absolute;
      top: 17%;
      left: 5px;
      width: 3px; // 分隔線的寬度
      height: 70%; // 分隔線高度
      background-color: #000; // 分隔線顏色
      @media screen and (max-width: 576px) {
        width: 1px; // 分隔線的寬度
        left: 0px;
      }
    }
    &:last-child {
      ::after {
        display: none;
      }
      ::before {
        display: none;
      }
    }
    &:first-child {
      ::after {
        display: none;
      }
      ::before {
        display: none;
      }
    }
    p {
      font-size: clamp(16px, 4.6vw, 45px);
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 2.25px;
      text-align: center;
      color: #1b1b1b;
    }
  }
}
.banner {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url(../images/game_slogan.svg);
  background-size: cover;
  background-position: center;
  max-width: 880px;
  width: 90%;
  padding-bottom: 62%;
  margin: 0 auto;
  margin-top: 0.5vw;
  z-index: 2;
  @media screen and (max-width: 800px) {
    height: unset;
  }
  @media screen and (max-width: 576px) {
    width: 75%;
    padding-bottom: 50%;
  }
}
.gamebox {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url(../images/gamebox.png);
  background-position: center;
  background-size: cover;
  width: 95%;
  max-width: 933px;
  margin: 0 auto;
  padding: 20px 0 35px;
  margin-top: -1%;
  .text {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
    .pic {
      max-width: 333px;
    }
    p {
      font-size: clamp(16px, 4.65vw, 45.5px);
      font-weight: bold;
      line-height: 1.76;
      text-align: left;
      color: #1b1b1b;
      @media screen and (max-width: 414px) {
        font-size: clamp(12px, 4.65vw, 45.5px);
      }
    }
  }
  .text1 {
    border-bottom: dotted 5px #ff9012;
  }
  @media screen and (max-width: 979px) {
    background-size: contain;
    .text1 {
      border-bottom: dotted 3px #ff9012;
    }
  }
  @media screen and (max-width: 414px) {
    padding: 20px 0 30px;
  }
}
.time {
  margin-top: 3vw;
  @media screen and (max-width: 576px) {
    margin-top: 1vw;
  }
  .title {
    display: flex;
    justify-content: center;
    .circle {
      background-color: #ffe000;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 70px;
      max-height: 70px;
      width: 7.18vw;
      height: 7.18vw;
      p {
        font-size: clamp(20px, 4.65vw, 45.5px);
        font-weight: bold;
        line-height: 2.2;
        text-align: center;
        color: #ec5f0e;
      }
    }
  }
  .box {
    position: relative;
    max-width: 835px;
    width: 85%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #ffe0b3;
    padding: 5px 4vw;
    margin-top: 10px;
    @media screen and (min-width: 980px) {
      padding: 5px 40px;
    }
    @media screen and (max-width: 768px) {
      border-radius: 10px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 104%;
      height: 135.5%;
      top: -25.5%;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/timebox.svg);
      @media screen and (max-width: 768px) {
        width: 108%;
      }
      @media screen and (max-width: 576px) {
        top: -21.5%;
      }
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2%;
      p {
        font-size: clamp(12px, 3.65vw, 36.5px);
        font-weight: 500;
        line-height: 1.53;
        color: #1b1b1b;
      }
      .line {
        width: 16%;
        border-bottom: dotted 5px #ff9012;
        @media screen and (max-width: 768px) {
          border-bottom: dotted 3px #ff9012;
          width: 15%;
        }
        @media screen and (max-width: 576px) {
          border-bottom: dotted 2px #ff9012;
          width: 12%;
        }
      }
      .prize {
        font-size: clamp(16px, 4.65vw, 45.5px);
        font-weight: bold;
        line-height: 1.24;
        color: #1b1b1b;
        display: flex;
        align-items: flex-end;
        span {
          font-size: clamp(12px, 3.65vw, 36.5px);
          font-weight: bold;
          line-height: 1.24;
          color: #1b1b1b;
        }
      }
    }
  }
}
.orange {
  width: 40%;
  max-width: 230px;
  margin: 0 auto;
  margin-top: 30px;
}

.gold {
  max-width: 753px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10vw;
  @media screen and (max-width: 576px) {
    margin-top: 7vw;
  }
}

.content {
  margin-top: -15%;
  position: relative;
  .tabs {
    z-index: 1;
    width: 85%;
    display: flex;
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translateX(-50%);
    max-width: 935px;
    justify-content: center;
  }
  .tab-button {
    display: block;
    width: 50%;
    padding: 3px 20px;
    font-weight: bold;
    color: #c6351d;
    border: none;
    background-color: transparent;
    font-size: clamp(16px, 4.65vw, 45.5px);
    text-align: center;
  }

  .tab-content {
    padding: 10% 0 0;
    max-width: 935px;
    width: 95%;
    @media screen and (min-width: 981px) {
      height: 735px;
    }
    height: 75.3vw;

    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .tab-content1 {
    background-image: url(../images/login.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    p.hint {
      width: 90%;
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(18px, 4.75vw, 48.5px);
      font-weight: bold;
      line-height: 1.66;
      letter-spacing: 2.43px;
      text-align: center;
      color: #fff;
      span {
        font-size: clamp(20px, 5.5vw, 66px);
        letter-spacing: 3.3px;
      }
    }
  }
  .tab-content2 {
    position: relative;
    background-image: url(../images/scratch.png);
  }

  .hidden {
    visibility: hidden;
    position: absolute;
    top: -9999999vh;
  }

  .none {
    display: none;
  }

  .scratch_box {
    margin: 0 auto;
    max-width: 825px;
    max-height: 525px;
    width: 84vw;
    height: 55.5vw;
    position: relative;

    .lottery {
      width: 100%;
      height: 100%;
      // position: relative;
      canvas {
        z-index: 5;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      img.answer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .answer {
        font-size: 180px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        // background-image: url(../../../fjta_img/202204_TW_minXiNan_img/scratch_font_bg.svg);
        background-size: contain;
        font-weight: 600;
        color: #323333;
      }

      .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #333; /* 根據需求調整文字顏色 */
        font-size: 16px;
        line-height: 1.5;
        p {
          font-size: clamp(16px, 2.65vw, 26px);
          font-weight: bold;
        }
      }
    }

    .click_pic {
      position: absolute;
      width: 100px;
      bottom: -50px;
      left: 50%;
      z-index: 6;
      transform: translateX(-50%);
      pointer-events: none;
      animation-name: click;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    .disapear {
      display: none;
    }
  }
  .draw {
    width: 100%;
    position: relative;
    font-size: clamp(18px, 4.75vw, 48.5px);
    font-weight: bold;
    line-height: 1.66;
    letter-spacing: 2.43px;
    text-align: center;
    color: #fff;
    margin-top: -30px;
  }

  p.info {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #501300;
    display: none;
    @media screen and (max-width: 576px) {
      font-size: 12px;
    }
  }
  p.info1 {
    margin-top: 5px;
  }
  p.info2 {
    margin-top: -1%;
    margin-bottom: 8%;
    @media screen and (max-width: 576px) {
      margin-top: -2%;
    }
  }

  p.active {
    display: block;
  }

  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21.6vw;
    height: 21.6vw;
    max-width: 215px;
    max-height: 215px;
  }
}
@keyframes click {
  0% {
    left: 45%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 55%;
  }
}
.coin {
  max-width: 827px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
section.description {
  padding-bottom: 80px;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 95%;
  margin-top: -15%;
  .subtitle {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 12px;
    p {
      font-size: 45.5px;
      font-weight: bold;
      text-align: center;
      color: #1b1b1b;
    }
  }
  .title {
    max-width: 349px;
    margin: 0 auto;
    padding-bottom: 45px;
  }
  .tabs-container {
    z-index: 1;
    background-color: #f9ede4;
    border: 4px solid #1b1b1b;
    border-radius: 30px;
    position: relative;
    padding-left: 2vw;
    padding-top: 45px;
    height: 440px;

    .text {
      max-width: 950px;
      margin: 0 auto;
      width: 95%;
      // padding-top: 36px;
      padding-bottom: 36px;
      height: 366px;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 6px;
        height: 8px;
        background-color: #dedede; /* or add it to the track */
      }

      &::-webkit-scrollbar-thumb {
        background: #2ca0e0;
      }
      .line {
        display: flex;
        gap: 10px;
        max-width: 745px;
        padding-bottom: 10px;
        line-height: 1.54;
        color: #1b1b1b;
        font-size: clamp(16px, 2.65vw, 26px);
        font-weight: 500;
        p {
          color: #1b1b1b;
          font-size: 26px;
          font-weight: 500;
          line-height: 1.54;
          font-size: clamp(16px, 2.65vw, 26px);
        }
      }
      .indent {
        > p {
          padding-left: 4rem;
          @media screen and (max-width: 576px) {
            padding-left: 2.5rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .content {
    .scratch_box {
      margin: 0 auto;
      position: relative;
      .lottery {
        width: 100%;
        height: 100%;
        canvas {
          z-index: 5;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 0;
        }
        img.answer {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          box-shadow: 4px 4px 8px #d4d4d4;
        }
        .answer {
          font-size: 180px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          background-size: contain;
          font-weight: 600;
          color: #323333;
        }
      }
      .click_pic {
        position: absolute;
        width: 100px;
        bottom: -50px;
        left: 50%;
        z-index: 6;
        transform: translateX(-50%);
        pointer-events: none;
        animation-name: click;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      .disapear {
        display: none;
      }
    }
    p {
      font-size: 18px;
    }
  }
}
