html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

img {
  display: block;
  border: none;
  width: 100%;
}


.lbContainer {
  padding-top: 100px;
}

.pick_title {
  width: 60.7142857143%;
  margin: 0 auto 35px;
}
.pick_title img {
  width: 100%;
}

.content {
  margin: auto;
  border: 2px solid black;
  border-radius: 23px;
  max-width: 1000px;
  width: 94.0816326531%;
  overflow: hidden;
}
.content a {
  width: 100%;
  padding-bottom: 47.0408163265%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;
}
.content a:before {
  content: "";
  position: absolute;
  width: 129px;
  height: 125px;
  background-size: contain;
  background-repeat: no-repeat;
  left: -2px;
  top: -2px;
}
@media (max-width: 768px) {
  .content a:before {
    transform: scale(0.8);
    top: -14px;
    left: -14px;
  }
}
@media (max-width: 580px) {
  .content a:before {
    transform: scale(0.6);
    top: -26px;
    left: -27px;
  }
}
.content a:first-of-type {
  border-bottom: 2px solid black;
}
.content a:first-of-type:before {
  content: "";
  position: absolute;
  background-image: url("../images/a.svg");
}
.content a:nth-of-type(2):before {
  background-image: url("../images/b.svg");
}
.content a p {
  position: absolute;
  max-width: 75vw;
  right: 10px;
  bottom: 15px;
  background-color: #fff;
  font-size: 22px;
  font-weight: bold;
  color: #282828;
  border: 1.5px solid #282828;
  display: block;
  padding: 5px 30px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .content a p {
    font-size: 16px;
    padding: 3px 17px;
    bottom: 10px;
    border-radius: 12px;
  }
}